.divGlavniInformacije
{
    display: flex;
    width:100%;
    height: 110vh;
    background-color:rgb(241, 234, 234);
    padding: 20px;

}
.divInfoPrvi
{
    border: solid 2px  #4b4646;
    display: flex;
    flex-direction: column;
    width: 33%;
    padding-left: 0.7cm;
    
}
.profilnaInfo
{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
.lblInfo{
    margin-bottom: 0.9cm;
    display: flex;
    justify-content: space-between;
}
.lbllInfo
{
    margin-bottom: 0.7cm;
}
.infoInput
{

    width: 20px; 
    
    margin-right: 1cm;
}
.dugmeInformacije
{
    width: 150px;
}
.divDugmeInfo
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pomLabInput
{
    margin-right: 260px;
}